body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  footer {
    text-align: center;
    font-size: 14px;
    color: #666;
  }
  